/*全体のスタイル（CSSリセット用）*/
* {
    /* padding,borderが要素の中に入る */
    box-sizing: border-box;
}

ul {
    /* リストの・を消す */
    list-style: none;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    color: inherit;
    /* 文字の下の線を消す */
    text-decoration: none;
}

body {
    color: #555;
    margin: 0;
    line-height: 1.6;
}

/* 共通のスタイル */
.inner {
    width: 1100px;
    padding: 90px 0;
    margin: 0 auto;
}

.title {
    display: flex;
    width: 200px;
    align-items: center;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
}

.title-b {
    font-weight: bold;
}


/* header  */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
    background-color: black;
    position: absolute;
    z-index: 10;
}

.header-logo {
    padding: 20px 0;
    font-weight: bold;
    font-size: 18px;
}

.header-nav ul {
    display: flex;
    padding: 22px 0;
}

.header-nav ul li {
    margin-left: 55px;
    font-size: 15px;
}

/* footer  */

footer {
    background-color: #191919;
    height: 50px;
}

.company-info {
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
}


/* about */

#about {
    background-color: #F8F8F8;
}


.title::before {
    content: "";
    width: 30px;
    margin-right: 20px;
    border-top: 1px solid #191919;
}

.title::after {
    content: "";
    width: 30px;
    margin-left: 20px;
    border-top: 1px solid #191919;
}

.about-wrap {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.about-item {
    background-color: #fff;
    width: 300px;
    height: 400px;
    padding: 35px 50px 50px;
    text-align: left;
    margin-right: 100px;
}

.about-item:nth-child(3),
.about-item:nth-child(6) {
    margin-right: 0;
}

.about-item:nth-child(n+4):nth-child(-n+6) {
    margin-top: 47px;
}


.about-item__title {
    font-size: 22px;
}

.about-item__img {
    margin: 20px auto 25px;
    width: 122px;
    height: 122px;
}

.about-item__img img {
    width: 100%;
}

.about-item__desc {
    font-size: 12px;
}
